@page "/Board"

@using NCCC_Blazor.Data
@inject BoardMemberModelService Services

<header class="board_header header">
    <div class="header_content">
        <h2 class="heading">BOARD, EXECUTIVE MEMBERS, & ADVISORS</h2>
    </div>
</header>
@if (boardMembers == null)
{
    <p><em>Loading...</em></p> }
else
{
    int i = 0;
    <section>
        <div class="wrapper center">

            <h2 class="section_heading">Board and Executive Members <br /> 2019-2021</h2>

        </div>
        <br />
        <br />
        <div class="wrapper gallery_container">
            @foreach (var member in boardMembers)
            {
                <div class="board_profile_container">
                    <img src="/Static/Images/board/@member.BoardMemberModel[i].Image_file" class="responsive" alt="@member.BoardMemberModel[i].ID" />
                    <div class="member_information">
                        <h2>@member.BoardMemberModel[i].Name</h2>
                        <h3>@member.BoardMemberModel[i].Role</h3>
                        <p>@member.BoardMemberModel[i].Email</p>
                    </div>
                </div>i++;
            }
        </div>
    </section>

}

@code { private BoardMemberList[] boardMembers;

    protected override async Task OnInitializedAsync()
    {
        boardMembers = await Services.GetBoardMembers();
    }
}

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("TiltListener");
        }
    }
}