<nav>
    <div class="wrapper navbar">
        <div>
            <a href="/">
                <img src="/Static/Images/Logos/nccc-logo-200x155.png" alt="sc" class="nav_logo"><!-- Logo for Navigation Bar> -->
            </a>
        </div>
        <div>
            <ul class="nav_links">
                <li>
                    <a href="/">
                        <img src="/Static/Images/Logos/nccc-logo-200x155.png" alt="sc" class="mobile_logo"><!-- Logo for Navigation Bar> -->
                    </a>
                </li>
                <li>
                    <a href="Membership">Membership</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="drop_button" type="button">Team <span class="drop_icon fas fa-caret-up"></span></button>
                        <div class="dropdown_content">
                            <a href="Board">Board</a>
                            <a href="Players">Players</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="drop_button" type="button">Events <span class="drop_icon fas fa-caret-up"></span></button>
                        <div class="dropdown_content">
                            <a href="NcccCup">NCCC Cup</a>
                        </div>
                    </div>
                </li>
                @* --- Uncomment the below <li>...</li> block if a dropdown is needed --- *@
                @*<li>
            <div class="dropdown">
                <button class="drop_button" type="button">TEAM <span class="drop_icon fas fa-caret-up"></span></button>
                <div class="dropdown_content">
                    <a href="Players">PLAYER</a>
                    <a href="PlayerProfile">Player Profile</a>
                </div>
            </div>
        </li>*@
                <li>
                    <a href="Sponsor">Sponsors</a>
                </li>
                <li>
                    <a href="AboutUs" id="contactLink">About Us</a>
                </li>
            </ul>
        </div>
        <div class="burger">
            <div class="burger1"></div>
            <div class="burger2"></div>
            <div class="burger3"></div>
        </div>

    </div>
</nav>

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("NavigationMenuListner");
        }
    }
}
